@font-face {
  font-family: 'open_sansregular';
  src: url('../font/OpenSans-Regular-webfont.eot');
  src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/OpenSans-Regular-webfont.woff') format('woff'),
  url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('../font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url('../font/OpenSans-Semibold-webfont.eot');
  src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
  url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
  url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}

html, body {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
}

.loading {
  opacity: 0;
  transition: opacity .8s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(25, 91, 173, 1);
  z-index: -1;
}

app:empty + .loading {
  opacity: 1;
  z-index: 100;
}

app:empty + .loading h1 {
  color: #EEE;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
  font-family: 'open_sanssemibold';
}

.inputError {
  border-color: red !important;
  border-width: 2px !important;
  border-style: solid !important;
}


