.login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-container {
  display: flex;
  height: 100%;
  padding-top: 20.38vh;
  padding-bottom: 5.17vh;
  padding-left: 5.06vw;
  padding-right: 5.06vw;
}

.login__logo {
  align-self: center;
  height: auto;
  width: 100%;
}

.login__form {

}

/* TODO outsource common parts */
.login-form__username {
  box-sizing: border-box;
  border-radius: 10px;
  //font-size: 4.8vw;
  height: 7.27vh;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
}

.login-form__password {
  box-sizing: border-box;
  border-radius: 10px;
  //font-size: 4.8vw;
  height: 7.27vh;
  margin-top: 2.623vh;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
}

.login-form__button {
  border-radius: 10px;
  font-family: 'open_sanssemibold';
  //font-size: 4.8vw;
  height: 7.27vh;
  margin-top: 5.022vh;
  width: 100%;
  background-color: white;
  border: none;
  padding: 0;
}
