.todo-input {
  display: flex;
  background-color: white;
  width: 100%;
  color: grey;
  height: 13.2vw;
  border-radius: 10px;
  //font-size: 4.8vw;
}

.todo-input__input {
  flex: 1;
  border: 0;
  border-radius: inherit;
  padding-left: 2.666vw;
  padding-right: 2.666vw;

}
.todo-input__input:focus{
  outline: none;
}

.todo-input__button {
  border: none;
  background: transparent;
  margin-right: 3.866vw;
  height:6.133vw;
  width: 6.133vw;
  padding: 0;
  align-self:center;
  background-image: url('assets/img/add.png');
  background-repeat: no-repeat;
  background-position: center;
}
.button:focus{
  outline: none;
}
