.todo-item {
  display: flex;
  border: none;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  min-height: 13.2vw;
  //font-size: 4.8vw;
  color: white;
}

.text {
  flex: 1;
  padding-left: 2.666vw;
  padding-right: 2.666vw;
  word-break: break-all;
}

.text--done {
  color: rgb(149, 178, 212);
}

.toggle-container {
  width: 6.4vw;
  height: 6.4vw;
  margin-right: 3.333vw;
  display: flex;
  background: transparent;
  padding: 0;
  border: none;
  outline:none;
}

.toggle-icon {
  align-self: center;
  height: auto;
  width: 100%;
}



