<!DOCTYPE html>
<html>
<head>
  <!--<base href="/">-->
  <title>Todoh</title>
  <% if (webpackConfig.metadata.ENV === 'device' || webpackConfig.metadata.ENV === 'production' ) { %>
  <script src="cordova.js"></script>
  <% } %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<app></app>
<div class="loading">
  <h1>Loading...</h1>
</div>
</body>
</html>
