.todo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo-container {
  display: flex;
  height: 100%;
  padding-top: 4.572vh;
  padding-bottom: 4.947vh;
  padding-left: 14vw;
  padding-right: 14vw;
}

.todo__logo {
  align-self: center;
  height: auto;
  width: 100%;
}
